{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<div class="card">
    <h1>Contact Us</h1>
    <h2>Send Feedback</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
</div>

<div class="card">
    <h2>All Feedbacks</h2>

    {% for feedback in feedbacks %}
        <div class="item-box">
            <p><strong>Email:</strong> {{ feedback.email }}</p>
            <p><strong>Message:</strong> {{ feedback.message }}</p>
            <p><strong>Date:</strong> {{ feedback.date_added }}</p>
        </div>
    {% empty %}
        <p class="empty-message">No feedback yet.</p>
    {% endfor %}
</div>

{% endblock %}